.header {
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    position:relative;
    z-index: 100;
    height: 40px;
    padding: 15px 20px;
    background-color:white;
    font-size: 0.9rem;
}
.header__logo img {width:100px;}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    min-width: 38vw;
    top: -300px;
}

.header__nav > li { position:relative; padding:10px; }
.header__nav > li > a { margin-bottom:8px; }
.header__nav > li:hover > a { font-weight:bold; }

/*sub*/
.header__nav > li:hover > .header__sub-menu {
    display: flex;
    flex-direction: column;width: 200%;
    background : rgb(248, 248, 248);
    box-shadow : rgb(0 0 0 / 20%) 0px 8px 16px 0px;
    border-radius: 3px;
    z-index: 2000;
}

.header__sub-menu{ 
    display:none; 
    position:absolute;
}

.header__sub-menu li { padding: 15px; }
.header__sub-menu li:hover{
    background-color: rgb(221, 221, 221);
    font-weight:bold;
}

@media all and (min-width:1024px) {
    .header__nav-drawer__wrapper {
        display : none;
    }
    .header__toggle_nav{ display: none;}
}

@media all and (min-width:768px) and (max-width:1023px) {
    .header__nav__wrapper{
        width: 100%;
        height: 0;
        overflow:hidden;
        position: absolute;
        top:60px;
    }

    .header__nav{
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow:hidden;
        position: absolute;
        left: 0;
        background-color: white;
        transition: all ease-in-out 1s;
    }

    .header__sub-menu { position: relative; }

    .header__nav-drawer__wrapper {
        display : block;
        padding: 11px 13px;
        background-color: white;
        border : 1px solid rgba(0,0,0,.1);
    }

    .header__nav-drawer__wrapper .fa-bars {
        font-size: 1.2rem;
    }
}

@media all and (max-width:767px) {
    .header__nav__wrapper{
        width: 100%;
        height: 0;
        overflow:hidden;
        position: absolute;
        top:60px;
    }

    .header__nav{
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow:hidden;
        position: absolute;
        left: 0;
        background-color: white;
        transition: all ease-in 1s;
    }

    .header__sub-menu{ position: relative; }

    .header__nav-drawer__wrapper {
        display : block;
        padding: 11px 13px;
        background-color: white;
        border : 1px solid rgba(0,0,0,.1);
    }    
}